<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/bootstrap.min.css" />
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/site.js"></script>
    <title>KraickList - Find Your Needs Here</title>
</head>

<body>
    <div>
        <form id="form" autocomplete="off">
            <input type="text" id="query" name="query">
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
        <ul id="resultList"></ul>
    </div>
    <!-- <script>
        
    </script> -->
</body>

</html>